{% extends "template.html" %}
{% block content %}

{% if session['username'] %}
    <section id="top-right">
      <div class="container">
        <nav>
          <ul>
            <li>{{ session['username'] }}</li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('logOut') }}">Log Out</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section id="middle-section">
      <br><br>
      <h1>The President when you were born was...</h1>
      <a href="http://en.wikipedia.org/wiki/Bill_Clinton"><img src="/static/images/Bill_Clinton.jpg" style="width: 200px; height: 250px"></a>
      <h2>Bill Clinton</h2>
      <div class="paragraph">
        Bill Clinton was president from January 20, 1993 to January 20, 2001. The first Democrat in the White House in over
        12 years, Clinton was known for his centrist "Third Way" philosophy, enacting NAFTA, the controversial 1994 crime
        bill, welfare reform, and financial deregulation measures. Despite his party losing control of both chambers of
        Congress for the first time in four decades in 1994, Clinton himself comfortably won reelection in 1996. In his
        second term, Clinton became embroiled in the Monica Lewinsky scandal, which resulted in his eventual impeachment, but
        not conviction. The Clinton years saw unprecedented peace in global geopolitics and record economic prosperity at home,
        and in the last three years of his administration, the federal government posted a budget surplus for the first time
        since 1969. Clinton left office with some of the highest approval ratings ever for a president.
      </div>
    </section>
{% else %}
    <section id="top-right2">
      <div class="container">
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('logIn') }}">Log In</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section id="middle-section2">
      <br><br>
      <h1>The President when you were born was...</h1>
      <a href="http://en.wikipedia.org/wiki/Bill_Clinton"><img src="/static/images/Bill_Clinton.jpg" style="width: 200px; height: 250px"></a>
      <h2>Bill Clinton</h2>
      <div class="paragraph">
        Bill Clinton was president from January 20, 1993 to January 20, 2001. The first Democrat in the White House in over
        12 years, Clinton was known for his centrist "Third Way" philosophy, enacting NAFTA, the controversial 1994 crime
        bill, welfare reform, and financial deregulation measures. Despite his party losing control of both chambers of
        Congress for the first time in four decades in 1994, Clinton himself comfortably won reelection in 1996. In his
        second term, Clinton became embroiled in the Monica Lewinsky scandal, which resulted in his eventual impeachment, but
        not conviction. The Clinton years saw unprecedented peace in global geopolitics and record economic prosperity at home,
        and in the last three years of his administration, the federal government posted a budget surplus for the first time
        since 1969. Clinton left office with some of the highest approval ratings ever for a president.
      </div>
    </section>
{% endif %}

{% endblock %}