{% extends "template.html" %}
{% block content %}

<section id="middle-section" xmlns="http://www.w3.org/1999/html">
  <br><br><br>
  <h1>Enter a Username and Password.</h1>
    <div class="container">
      <div>
        <form method="post">
        {{ form.csrf_token() }}
        <p>
          Username:
          {{ form.app_username() }}
        </p>
        <p>
          Password:
          {{ form.app_password() }}
        </p>
        <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </p>
        <div class="button-container">
          <input value="Create Account" class="button" type="submit">
          <a href="{{ url_for('index') }}" class="button">Back to Log-in Screen</a>
        </div>
      </form>
      </div>
    </div>
  <br><br><br>
</section>

{% endblock %}