{% extends "template.html" %}
{% block content %}

{% if session['username'] %}
    <section id="top-right">
      <div class="container">
        <nav>
          <ul>
            <li>
              <a class="username" href="#">{{ session['username'] }}</a>
              <ul>
                <li><a href="{{ url_for('user') }}">Saved books</a></li>
                <li><a href="{{ url_for('user2') }}">User settings</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('books') }}">Books</a></li>
            <li><a href="{{ url_for('logOut') }}">Log Out</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section id="middle-section">
      <br><br>
      <h1>The President when you were born was...</h1>
      <a href="http://en.wikipedia.org/wiki/George_H._W._Bush"><img src="/static/images/George_H._W._Bush_presidential_portrait.jpg"></a>
      <h2>George H. W. Bush</h2>
      <div class="paragraph">
        George H. W. Bush was president from January 20, 1989 to January 20, 1993. During the Bush presidency, many major
        events in global geopolitics occurred, with the administration presiding over the revolutions against communism in
        Eastern Europe, the fall of the Berlin Wall, and the eventual demise of the Soviet Union, which ended the Cold War.
        Bush would also lead a coalition of countries into Kuwait to repel Saddam Hussein's invading Iraqi army, successfully
        doing so in only a month. Domestically, however, economic problems dogged Bush, and his decision to sign legislation
        increasing taxes, going against a promise he made in the 1988 election, angered many people, especially in his party.
        These factors would contribute to Bush's eventual loss to Bill Clinton in the 1992 election.
      </div>
    </section>

    <!-- JavaScript file to fix nav menu position -->
    <script src="../static/js/navMenuFixed.js"></script>
{% else %}
    <section id="top-right2">
      <div class="container">
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('logIn') }}">Log In</a></li>
            <li><a href="{{ url_for('books') }}">Books</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section id="middle-section2">
      <br><br>
      <h1>The President when you were born was...</h1>
      <a href="http://en.wikipedia.org/wiki/George_H._W._Bush"><img src="/static/images/George_H._W._Bush_presidential_portrait.jpg"></a>
      <h2>George H. W. Bush</h2>
      <div class="paragraph">
        George H. W. Bush was president from January 20, 1989 to January 20, 1993. During the Bush presidency, many major
        events in global geopolitics occurred, with the administration presiding over the revolutions against communism in
        Eastern Europe, the fall of the Berlin Wall, and the eventual demise of the Soviet Union, which ended the Cold War.
        Bush would also lead a coalition of countries into Kuwait to repel Saddam Hussein's invading Iraqi army, successfully
        doing so in only a month. Domestically, however, economic problems dogged Bush, and his decision to sign legislation
        increasing taxes, going against a promise he made in the 1988 election, angered many people, especially in his party.
        These factors would contribute to Bush's eventual loss to Bill Clinton in the 1992 election.
      </div>
    </section>

    <!-- JavaScript file to fix nav menu position -->
    <script src="../static/js/navMenuFixed2.js"></script>
{% endif %}

{% endblock %}