{% extends "template.html" %}
{% block content %}

{% if session['username'] %}
  <section id="top-right">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a class="username" href="javascript:void(0)">{{ session['username'] }}</a>
            <ul>
              <li><a href="{{ url_for('user') }}">Saved books</a></li>
              <li><a href="{{ url_for('user2') }}">User settings</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('books') }}">Books</a></li>
          <li><a id="logoutButton" href="javascript:void(0)">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="middle-section">
    <br><br><br>
    <div class="input-box-size">
      <div class="input-box">
        <h1>Enter Your Date of Birth!</h1>
        <div class="container">
          <div>
            <form method="post">
              {{ form.csrf_token() }}
              <div class="form-container">
                <p>
                  <label>Month:</label><br>
                  {{ form.month(class="month-field") }}
                </p>
                <p>
                  <label>Day:</label><br>
                  {{ form.day(class="day-field") }}
                </p>
                <p>
                  <label>Year:</label><br>
                  {{ form.year(class="year-field") }}
                </p>
              </div>
              <div class="button-container">
                <input value="Submit" class="button" type="submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <section id="top-right2">
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{{ url_for('logIn') }}">Log In</a></li>
          <li><a href="{{ url_for('books') }}">Books</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="middle-section2">
    <br><br><br>
    <div class="input-box-size">
      <div class="input-box">
        <h1>Enter Your Date of Birth!</h1>
        <div class="container">
          <div>
            <form method="post">
              {{ form.csrf_token() }}
              <div class="form-container">
                <p>
                  <label>Month:</label><br>
                  {{ form.month(class="month-field") }}
                </p>
                <p>
                  <label>Day:</label><br>
                  {{ form.day(class="day-field") }}
                </p>
                <p>
                  <label>Year:</label><br>
                  {{ form.year(class="year-field") }}
                </p>
              </div>
              <div class="button-container">
                <input value="Submit" class="button" type="submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- JavaScript file for index.html -->
<script src="../static/js/index.js"></script>

<!-- JavaScript file for logoutButton -->
<script src="../static/js/logOut.js"></script>

{% endblock %}