{% extends "template.html" %}
{% block content %}

{% if session['username'] %}
  <section id="top-right">
    <div class="container">
      <nav>
        <ul>
          <li>{{ session['username'] }}</li>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('logOut') }}">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="middle-section">
    <br><br><br>
    <h1>Enter Your Date of Birth!</h1>
      <br>
      <div class="container">
        <div>
          <form method="post">
            {{ form.csrf_token() }}
            <div class="form-container">
              <p>
                Month:
                {{ form.month() }}
              </p>
              <p>
                Day:
                {{ form.day() }}
              </p>
              <p>
                Year:
                {{ form.year() }}
              </p>
            </div>
            <div class="button-container">
              <input value="Submit" class="button" type="submit">
            </div>
          </form>
        </div>
      </div>
    <br><br><br>
  </section>
{% else %}
  <section id="top-right2">
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{{ url_for('logIn') }}">Log In</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="middle-section2">
    <br><br><br>
    <h1>Enter Your Date of Birth!</h1>
      <br>
      <div class="container">
        <div>
          <form method="post">
            {{ form.csrf_token() }}
            <div class="form-container">
              <p>
                Month:
                {{ form.month() }}
              </p>
              <p>
                Day:
                {{ form.day() }}
              </p>
              <p>
                Year:
                {{ form.year() }}
              </p>
            </div>
            <div class="button-container">
              <input value="Submit" class="button" type="submit">
            </div>
          </form>
        </div>
      </div>
    <br><br><br>
  </section>
{% endif %}

<script>
  var monthField = document.getElementById('month')
  var dayField = document.getElementById('day')

  var daysInMonth = {
    'January': 31,
    'February': 28,
    'March': 31,
    'April': 30,
    'May': 31,
    'June': 30,
    'July': 31,
    'August': 31,
    'September': 30,
    'October': 31,
    'November': 30,
    'December': 31
    };

  monthField.addEventListener('change', function() {
    var selectedMonth = monthField.value;
    var options = '';
    for (var i = 1; i <= daysInMonth[selectedMonth]; i++) {
      options += '<option value="' + i + '">' + i + '</option>';
    }
    dayField.innerHTML = options;
  });

  // Initially populate day field based on default selected month
  var defaultSelectedMonth = monthField.value;
  var options = '';
  for (var i = 1; i <= daysInMonth[defaultSelectedMonth]; i++) {
    options += '<option value="' + i + '">' + i + '</option>';
  }
  dayField.innerHTML = options;

  // Update hidden input with selected day value
  dayField.addEventListener('change', function() {
    selectedDayInput.value = this.value;
  });
</script>

{% endblock %}