{% extends "template.html" %}
{% block content %}

{% if session['username'] %}
  <section id="top-right">
    <div class="container">
      <nav>
        <ul>
          <li><a href="{{ url_for('user') }}">{{ session['username'] }}</a></li>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('books') }}">Books</a></li>
          <li><a href="{{ url_for('logOut') }}">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="middle-section">
    <br><br><br>
    <h1>Enter Your Date of Birth!</h1>
      <br>
      <div class="container">
        <div>
          <form method="post">
            {{ form.csrf_token() }}
            <div class="form-container">
              <p>
                Month:
                {{ form.month() }}
              </p>
              <p>
                Day:
                {{ form.day() }}
              </p>
              <p>
                Year:
                {{ form.year() }}
              </p>
            </div>
            <div class="button-container">
              <input value="Submit" class="button" type="submit">
            </div>
          </form>
        </div>
      </div>
    <br><br><br>
  </section>
{% else %}
  <section id="top-right2">
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{{ url_for('logIn') }}">Log In</a></li>
          <li><a href="{{ url_for('books') }}">Books</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="middle-section2">
    <br><br><br>
    <h1>Enter Your Date of Birth!</h1>
      <br>
      <div class="container">
        <div>
          <form method="post">
            {{ form.csrf_token() }}
            <div class="form-container">
              <p>
                Month:
                {{ form.month() }}
              </p>
              <p>
                Day:
                {{ form.day() }}
              </p>
              <p>
                Year:
                {{ form.year() }}
              </p>
            </div>
            <div class="button-container">
              <input value="Submit" class="button" type="submit">
            </div>
          </form>
        </div>
      </div>
    <br><br><br>
  </section>
{% endif %}

<!-- JavaScript file for index.html -->
<script src="../static/js/index.js"></script>

{% endblock %}