{% extends "template.html" %}
{% block content %}

<section id="middle-section" xmlns="http://www.w3.org/1999/html">
  <br><br><br>
  <h1>Enter Your Account Information.</h1>
    <br>
    <div class="container">
      <div>
        <form method="post">
          {{ form.csrf_token() }}
          <div class="form-container">
            <p>
              Username:
              {{ form.app_username() }}
            </p>
            <p>
              Password:
              {{ form.app_password() }}
            </p>
          </div>
          <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
          </p>
          <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
          <div class="button-container">
            <input value="Log In" class="button" type="submit">
            <a href="{{ url_for('createAccount') }}" class="button">Create Account</a>
          </div>
        </form>
      </div>
    </div>
  <br><br><br>
</section>

{% endblock %}