{% extends "template.html" %}
{% block content %}

<section id="top-right">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a class="username" href="#">{{ session['username'] }}</a>
            <ul>
              <li><a href="{{ url_for('user') }}">Saved books</a></li>
              <li><a href="{{ url_for('user2') }}">User settings</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('books') }}">Books</a></li>
          <li><a href="{{ url_for('logOut') }}">Log Out</a></li>
        </ul>
      </nav>
    </div>
</section>

<section id="middle-section" xmlns="http://www.w3.org/1999/html">
  <br><br><br>
  <h1>Create new password:</h1>
  <br>
  <div class="container">
    <form method="post">
      {{ form.csrf_token() }}
       <div class="form-container">
         <p>
           Enter new password<br>
           {{ form.new_user_password() }}
         </p>
         <p>
           Re-enter new password<br>
           {{ form.new_user_password2() }}
         </p>
       </div>
       <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
       </p>
       <div class="button-container">
          <input value="Save" class="button" type="submit">
       </div>
    </form>
  </div>
</section>

{% endblock %}