{% extends "template.html" %}
{% block content %}

<section id="top-right">
  <div class="container">
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('logIn') }}">Log In</a></li>
        <li><a href="{{ url_for('books') }}">Books</a></li>
      </ul>
    </nav>
  </div>
</section>

<section id="middle-section" xmlns="http://www.w3.org/1999/html">
  <br><br><br>
  <div class="input-box-size">
    <div class="input-box">
      <h1>Reset Password</h1>
      <form method="post">
        {{ form.csrf_token() }}
        <div class="form-container2">
            <p>Fill in both of the fields below to receive a temporary password via email.</p>
            <p>
                Username:<br>
                {{ form.app_username(class="input-field") }}
            </p>
            <p>
                Email:<br>
                {{ form.app_email(class="input-field") }}
            </p>
        </div>
        <div class="error-message">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="button-container">
          <input value="Reset Password" class="button" type="submit">
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}