<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who Was President When You Were Born?</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700"
          rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS File -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="top-section">
        <div class="overlay-text">
            <h1>Who Was President When You Were Born?</h1>
        </div>
    </div>

    {% block content %}



    {% endblock %}

    <br><br>

    <footer id="footer">
        <div class="text">
            Copyright © 2024 Developed and designed by mforn011. All rights reserved.
        </div>
    </footer>
</body>
</html>