{% extends "template.html" %}
{% block content %}

<section id="top-right">
  <div class="container">
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('logIn') }}">Log In</a></li>
        <li><a href="{{ url_for('books') }}">Books</a></li>
      </ul>
    </nav>
  </div>
</section>

<section id="middle-section" xmlns="http://www.w3.org/1999/html">
  <br><br><br>
  <div class="input-box-size">
    <div class="input-box">
      <div class="form-container2">
        <p>A new, temporary password has been sent to your email.</p>
        <p>You should change this password after 7 days.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}