{% extends "template.html" %}
{% block content %}

<section id="top-right">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a class="username" href="javascript:void(0)">{{ session['username'] }}</a>
          <ul>
            <li><a href="{{ url_for('user') }}">Saved books</a></li>
            <li><a href="#">User settings</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('books') }}">Books</a></li>
        <li><a id="logoutButton" href="javascript:void(0)">Log Out</a></li>
      </ul>
    </nav>
  </div>
</section>

<section id="middle-section" xmlns="http://www.w3.org/1999/html">
  <br><br><br>
    <table>
        <thead>
            <tr>
                <th colspan="2">
                    <h3>User profile</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left-cell">
                    Username:
                </td>
                <td class="right-cell" align="left">
                    {{ session['username'] }}
                </td>
            </tr>
            <tr>
                <td class="left-cell">
                    Password:
                </td>
                <td class="right-cell" align="left">
                    <a href="{{ url_for('newPassword') }}" class="table-button">Change password</a>
                </td>
            </tr>
            <tr>
                <td class="left-cell">
                    Email:
                </td>
                <td class="right-cell" align="left">
                    <p>{{ session['email'] }}</p>
                </td>
            </tr>
            <tr>
                <td class="left-cell">
                    Change email:
                </td>
                <td class="right-cell" align="left">
                    <a href="{{ url_for('newEmail') }}" class="table-button">Change email</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
</section>

<!-- JavaScript file for logoutButton -->
<script src="../static/js/logOut.js"></script>

{% endblock %}